@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
.data_table{
	width:100%;
	text-align:center;
	font-size:14px;
	border-color:#999;
	font-family:"微软雅黑";
	border-collapse:collapse;
	}
.data_table .t_head{
	height:30px;
	font-size:16px;
	border-color:#999;
	background:url(../images/t_head_bg.jpg);
	background-repeat:repeat-x;
	}
.data_table td{
	height:25px;
	border-color:#999;
	}
.data_table_delete_a{
	text-decoration:none;
	color:#333;
	}
.data_table_update_a{
	text-decoration:none;
	color:#333;
	}
a{
	text-decoration:none;
	color:#333;
}
img{
	border:none;
}
.data_table_row img{
	width:100px;
	height: 40px;
	margin-top:5px;
	margin-bottom:5px;
}